@charset "UTF-9";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background: #000;
}

header{
    margin-top: 10px;
}

.titles{
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    font-family: 'Aubrey', cursive;
    font-size: 1.8em;
}

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1355px;
    margin: 0 auto;
    padding: 15px;
}

header nav li{
    color: white;
    font-family: 'Roboto', sans-serif;
}

header nav ul{
    display: flex;
    align-items: center;
    gap: 50px;
    list-style-type: none;
    font-size: 1.3em;
}

ul li:hover{
    cursor: pointer;
    color: #b000f0;
}

.pesquisar{
}

i#iconsearch{
    color: #E5E5E5;
    position: absolute;
    transform: translate(59%,50%);
    cursor: pointer;
}

input{
    width: 243px;
    background: #302D2D;
    border: none;
    padding: 10px;
    text-indent: 25px;
    color: #E5E5E5;
    border-radius: 5px;

}

input:focus{
    outline: 0;
    border: 1px solid #BD00FF;
}

.botoes{
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: 'Roboto', sans-serif;
}

.botoes button{
    width: 123px;
    height: 42px;
    border-radius: 5px;
}

button#up{
    border: none;
    background-color: #BD00FF;
    color: white;
}

button#up:hover{
    cursor: pointer;
    background: #b000f0;
}

button#in{
    border: none;
    color: white;
    background-color: #000;
    border: 1px solid #BD00FF;
}

button#in:hover{
    cursor: pointer;
    color: #b000f0;
}

main{
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 70px;
    color: white;
}

main h1{
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    padding: 30px 0px;
    font-size: 2em;
}

.highlights{
    position: relative;
    max-width: 1240px;
    max-height: 774px;
    margin: 0 auto;
}

img#DemonSlayer{
    position: absolute;
    left: 54.5%;
}

img#OnePuch{
    position: absolute;
}

img#hunter{
   position: absolute;
   top: 35%;
}

.newepisodes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1320px;
    cursor: pointer;
}

.newepisodes img{
    width: 50%;
}

.vermais{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    padding-bottom: 150px;
}

.vermais button{
    padding: 15px 60px;
    background-color: #000;
    color: white;
    border: 2px solid #BD00FF;
    font-size: 1.4em;
    border-radius: 5px;
}

footer{
    border-top: 1px solid white;
    color: white;
    background: #000;
}

footer p {
    margin-left: 10px;
}

p#subanime{
    margin-left: 20px;
    padding-bottom: 20px;
}

nav li{
    list-style-type: none;
}

.primeira{
    font-family: 'Aubrey', cursive;
    font-weight: 100;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    margin-left: 20px;
}

.atalhos nav{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px 0px;
    font-size: 1.3em;
}

.socialmedia h2{
    text-align: center;
}

.redessociais{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}